.App > * {
display: flex;
  
  flex-direction: column;
  border:3px solid black;
  
}
.App {
  border: 3px solid black;
  width: 196vh;
  height: 99vh;
  padding-bottom: 3px;
  padding-right: 3px;
  
}

.main {
  min-height: 80vh;
}
