.home {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;

}

.selectors {
    display: flex;
    margin:10rem 0 3vh 0 ;
    height:8rem;
    width: 50%;
    justify-content: space-around;
    
    
}

.paginate {
margin: 5rem 0 10rem 0;

}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px
}
