/* .searchbar{
    box-sizing: border-box;

position: absolute;
width: 618px;
height: 74px;
left: 291px;
top: 844px;

background: rgba(217, 217, 217, 0.15);
border: 1px solid #000000;
border-radius: 40px;
} */