.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas de ancho igual */
    grid-gap: 20px;
}

.card {
    width: 80%; /* Ajusta el ancho de las tarjetas, dejando un espacio entre ellas
    Otros estilos para las tarjetas */
}

.paginate {
    margin: 35px;
}

.menu {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;
}