.landing.conteiner {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #FFFFFF;
}

.landing.conteiner2 {
    box-sizing: border-box;

position: absolute;
width: 1440px;
height: 778px;
left: 0px;
top: 0px;

background: #22577A;
border-bottom: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}